<!DOCTYPE html>
<html>
  <head>
    <title>MarcheAuxPuces</title>

        <meta property="og:title" content="MarcheAuxPuces" />
     <meta property='og:image' content="<%= image_url('ShareLink.png') %>"/>
     <meta property="og:description"
       content="Full stack web-application inspired by Etsy implemented with Ruby on Rails backend, and React Redux frontend."
     />
     <meta property="og:url"
       content="https://marcheauxpuces.herokuapp.com/"
     />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- append photos start-->
  <script type="text/javascript"> window.shopping_cart = "<%= image_url('/icons/shopping-cart.svg') %>"</script>
  <!-- append photos stop -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
